<footer class="footer">
    <div class="wrapper-content">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-text">
                    Sign up to receive daily manually selected recipes, delicious weekly articles,
                    3-piece sets of slow cooker, vegetarian,
                    and lunch ideas, plus Quick&Easy recipes and Nutrition Value flashcards via email.
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-content">
                    <form action="#" method="post" class="form" id="form">
                        <input type="email" class="input-email" placeholder="Enter your email" required>
                        <button type="submit" class="form-btn">
                            Sign up
                        </button>
                        <span class="form-text">By signing up I agree to the terms of the <a href="#" class="form-link">Privacy Policy</a></span>
                    </form>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12"><div class="copy"> © 2014–2018 TastyCookery.com</div></div>
        </div>
    </div>
</footer>
