.about{
  padding-bottom: 4.25rem;
}
.title-2{
  font-family: Circe-ExtraBold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.about-item{
  display: flex;
align-items: center;
  text-align: center;
  flex-direction: column;
}
.abouts-img-wrapper{
  width: 338px;
  height: 340px;
}
.abouts-img{
  width: 100%;
  height: 340px;
}
.about-text{
  padding-top: 2.5rem;
  font-size: 20px;
}
