.wrapper{
  max-width: 1440px;
  margin: 0 auto;
  font-family: Circe;
  font-size: 20px;
  background-color: #fff;
  color: $black;
  line-height: 1.2;
}
.wrapper-content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.5rem;
}
